.voteBoard {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  border: 3px solid purple;
  margin: 1%;
  height: 51em;
  width: 30%;
}

.allVoteBoards {
  display: flex;
  flex-wrap: wrap;
}

.currentBoard {
  background-color: blueviolet;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30%;
  height: 51em;
}

.bookVote {
  height: 3em;
  font-size: x-large;
  display: flex;
}

.voteButton {
  width: 85%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.previewLink {
  background-color: antiquewhite;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  padding: 0;
  margin: 0;
}