.votingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voteBoard {
  text-align: center;
  display: grid;
  border: 3px groove black;
  margin: 1%;
  width: 30%;
}

.voteBoard h2 {
  font-size: xx-large;
}

.allVoteBoards {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.currentBoard {
  background-color: rgb(148, 100, 40);
}

.userVoteForBook {
  background-color: rgb(125, 85, 36);
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.98);
  width: 30%;
  height: 54em;
}

.bookVote {
  height: 3em;
  font-size: x-large;
  display: flex;
}

.voteCompleteButton {
  margin: 0;
}

.voteButton {
  font-family: 'Oswald';
  font-size: 24px;
  width: 85%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.previewLink {
  background-color: silver;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.outcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.finalSubmitButton {
  width: 40%;
}