.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.userNames {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.votingScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.finalSubmitButton {
  width: 20%;
  align-self: center;
  margin-top: 2%;
  margin-bottom: 1%;
}

.hidden {
  display: none;
}
