.selection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3%;
}

.listFilters {
  margin: 2%;
  width: 90%;
  border: 3px solid green;
}