.listBox {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.categorySelection {
  width: 16%;
  height: 400px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  font-size: x-large;
  font-family: 'Oswald';
  width: 90%;
  height: 17em;
  border: 3px solid blue;
  border-radius: 0px 25px 25px 0;
  box-shadow: 5px 3px 8px 5px #ccc;
  outline: 3px solid blue;
  outline-offset: -10px;
  background-color: lightskyblue;
  padding: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.categoryLink {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: x-large;
}

.categoryButton {
  background-color: brown;
  color: white;
  width: 100%;
  font-size: x-large;
}
