.userForm form {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userForm label {
  
  font-family: 'Oswald';
}

.userForm label,input, button {
  width: 100%;
  font-size: xx-large;
  margin-top: 5%;
}