.allBookPreviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewLabels {
  font-size: x-large;
  text-align: center;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  margin-right: 5%;
}

.previewLabels a {
  color: black;
}

.previewLabels h2 {
  margin: 0;
}

.bookPreviewRank {
  width: 95%;
  height: 22em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bookRank {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 5em;
  text-align: center;
}

.bookPreview {
  font-size: larger;
  width: 80%;
  padding: 1%;
  border: 7px double black;
  background-color: rgb(97, 49, 11);
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.bookPreview h3 {
  font-size: x-large;
}

.bookPreview h3, p {
  font-family: 'Oswald';
}